//Here can code global styles
@use 'src/lib/styles/fonts' as fonts
@use 'src/lib/styles/palete' as palete


body
    margin: 0

    padding: 0
        
    *
        box-sizing: border-box

        margin: 0

        padding: 0

a
    text-decoration: none
