//Here can code global styles
@use './lib/styles/palete' as palete
@use './lib/styles/media' as media

@import './lib/styles/fonts'


:root
    // Reset default styling
    *
        box-sizing: border-box

        margin: 0

        padding: 0
    
    // ? Main breack points for responsive
    // font-size to define em
    @include media.by-max-width(460px) 
        font-size: 14px

    @include media.by-min-width(460px) 
        font-size: 16px
    
    @include media.by-min-width(600px) 
        font-size: 17px
    
    @include media.by-min-width(992px) 
        font-size: 18px
    
body
    width: 100vw
    height: 100vh

    background: palete.$general-bg

    margin: 0

    padding: 0

//Unstyling link
a
    text-decoration: none

//Set default text sizes
h1
    font: 2em Cabin
    color: palete.$general-tittle

h2
    font: 1.75em Cabin
    color: palete.$tittle
    
h3
    font: 1.5em Nunito
    color: palete.$tittle

h4
    font: 1.25em Nunito
    font-weight: 700
    color: palete.$tittle

h5
    font: 1em Nunito
    font-weight: 700
    font-style: italic
    color: palete.$tittle

p,span,input,label,select,option,textarea
    font: 1em Quicksand
    color: palete.$text

